In [1]:
import pandas as pd
import torch
import numpy as np

In [2]:
df = pd.read_csv("datalength/train_data_length_info.csv")

In [3]:
df.head()

   Unnamed: 0       ids  index  length
0           0  35232142      0     541
1           1  40143035      1     194
2           2  35951548      2    1214
3           3  36266422      3     369
4           4  38826984      4     242

In [5]:
min(df.length)

3

In [7]:
max(df.length)

39490

In [16]:
import numpy as np
a = torch.tensor(np.array([5,6]))

In [17]:
print(a)

tensor([5, 6])

In [19]:
a.tolist()

[5, 6]

In [23]:
df = pd.read_csv("datalength/train_info.csv")

In [24]:
df.head()

,Unnamed: 0,index,ids,doc text,target text,doc len,sum len
0,0,0,35232142,summarize: The full cost of damage in Newton S...,Clean-up operations are continuing across the ...,541,28
1,1,1,40143035,summarize: A fire alarm went off at the Holida...,Two tourist buses have been destroyed by fire ...,194,21
2,2,2,35951548,summarize: Ferrari appeared in a position to c...,Lewis Hamilton stormed to pole position at the...,1214,24
3,3,3,36266422,"summarize: John Edward Bates, formerly of Spal...",A former Lincolnshire Police officer carried o...,369,30
4,4,4,38826984,summarize: Patients and staff were evacuated f...,An armed man who locked himself into a room at...,242,35

In [6]:
a = np.array([1,4,2,3,6,7])
a

array([1, 4, 2, 3, 6, 7])

In [14]:
np.concatenate((a[1:3], a[4:6]))

array([4, 2, 6, 7])

SyntaxError: invalid syntax (2058765231.py, line 1)

In [1]:
a = 5
b = 5//2

In [2]:
b

2

In [5]:
import math
c = math.floor(0.5 * 5)

In [6]:
c

2

In [9]:
a = "ratio0.2"
ratio = a[-1:-3]

In [10]:
ratio

''

In [29]:
import re

In [33]:
ratio = re.findall(r"\d*\.\d", "head+tail_ratio0.2")

In [34]:
float(ratio[0])

0.2

In [40]:
import pandas as pd
df__ = pd.read_csv("model/t5-small_xsum_full-text_0_50epochs_old/result_eval/predictions_t5-small_epoch49.csv")

In [18]:
df__.head()

,Unnamed: 0,Sample ids,Document,Reference summary,Generated summary,Document length,Reference length,Generated length
0,0,35694164,summarize: Forty workers have been made redund...,The introduction of a 5p charge for plastic ba...,the 5p charge for bags was introduced in Engla...,494,27,34
1,1,38921336,summarize: The Oil and Gas Technology Centre w...,A new research and development facility has op...,oil supply company Mistras has been developing...,508,24,34
2,2,31798664,summarize: MSC Oscar is shorter in length than...,The newly-crowned largest container ship in th...,the CSCL Globe docked in Felixstowe in January...,492,26,35
3,3,35111636,summarize: The latest protests are a reaction ...,Thousands of protesters are marching in South ...,the ANC has been in power since the end of apa...,510,23,28
4,4,38128851,summarize: The film about a princess's mythica...,Disney's latest animation Moana dominated the ...,movie about a princess's mythical journey in a...,486,24,36

In [35]:
df__['Generated summary'][0]

"plastic bags have been handed out at Nelson Packaging's factory in Lancashire because of a 5p pack charge."

In [37]:
df__['Generated summary'][1]

'a new technology centre in Aberdeen has opened its doors to small tech firms that are being used to detect corrosion in the north sea.'

In [39]:
df__['Generated summary'][0]

"plastic bags have been handed out at Nelson Packaging's factory in Lancashire because of a 5p pack charge."

In [41]:
df__['Generated summary'][1]

'a new technology centre in Aberdeen has opened its doors to small tech firms that are being used to detect corrosion in the north sea.'

In [21]:
df_ = pd.read_csv("model/t5-small_xsum_head+tail35_50epochs_ratio2080/result_eval/predictions_t5-small_epoch49.csv")

In [24]:
df_['Shortened Document'][0]

'summarize: Forty workers have been made redundant at Nelson Packaging\'s factory in Lancashire. Managing director Michael Flynn said it was mainly due to "the English bag legislation and corresponding impact on customer and retailer demand". He also blamed "aggressive overseas competition". The 5p charge the factory immediately. "It\'s daunting as I have no interview skills. I\'m 49 years old and I\'ve got to now go into a new working environment and start again. It is scary. "I was 19 when I started andâ€<unk> you were seeing the children of people you have been working with for 30 years starting to come through so you had parents and children [at the factory]." Campaigners argue that plastic bags blight streets, spoil the countryside and damage wildlife, seas and coastline. Wales was the first UK nation to introduce the bag charges, followed by Northern Ireland and then Scotland. A report in 2015 found the number of single-use carrier bags handed out by shops in Wales fell by 71% since charges were introduced in 2011. Scotland and Northern Ireland introduced their charges in 2014 and 2013 respectively and also saw significant drops in usage. The number of plastic bags handed out in Scottish stores was slashed by 80% - the equivalent of 650 million carriers - in the first year of the 5p charge. Similarly, in Northern Ireland in 2014 there was a 42.6% annual reduction following a previous drop of 71%, after charges were introduced. Does the charge include all carrier bags?</s>'

In [25]:
df_['Document'][0]

'summarize: Forty workers have been made redundant at Nelson Packaging\'s factory in Lancashire. Managing director Michael Flynn said it was mainly due to "the English bag legislation and corresponding impact on customer and retailer demand". He also blamed "aggressive overseas competition". The 5p charge for bags was introduced in England in October and followed the introduction of charges in Wales, Northern Ireland and Scotland. One worker told BBC Radio Lancashire they believed the legislation had a "slight but not a massive impact" on the business, which has been operating since 1975 and was taken over by Cheshire-based packaging firm Intelipac three years ago. 7.6 billion Number of plastic bags issued by supermarkets in England in 2014 140 Equivalent per person 40 bags on average in every home Â£780m expected economic benefit over 10 years because of the charge Â£60m savings in litter clean up costs by 2025 80% expected reduction in bags Union representative Robert Copeland, who had been with the firm since 1986, said staff were told last Wednesday that they were being made redundant and were told to leave the factory immediately. "It\'s daunting as I have no interview skills. I\'m 49 years old and I\'ve got to now go into a new working environment and start again. It is scary. "I was 19 when I started andâ€¦ you were seeing the children of people you have been working with for 30 years starting to come through so you had parents and children [at the factory]." Campaigners argue that plastic bags blight streets, spoil the countryside and damage wildlife, seas and coastline. Wales was the first UK nation to introduce the bag charges, followed by Northern Ireland and then Scotland. A report in 2015 found the number of single-use carrier bags handed out by shops in Wales fell by 71% since charges were introduced in 2011. Scotland and Northern Ireland introduced their charges in 2014 and 2013 respectively and also saw significant drops in usage. The number of plastic bags handed out in Scottish stores was slashed by 80% - the equivalent of 650 million carriers - in the first year of the 5p charge. Similarly, in Northern Ireland in 2014 there was a 42.6% annual reduction following a previous drop of 71%, after charges were introduced. Does the charge include all carrier bags?'

In [6]:
len(df_['Generated summary'][0])

141

In [7]:
 len(df__['Generated summary'][0])

175

In [15]:
for i in range(10):
    print("="*10)
    print(df__['Generated summary'][i])

==========
the 5p charge for bags was introduced in England in October. it followed the introduction of charges in Wales, northern Ireland and Scotland. one worker said they believed the
==========
oil supply company Mistras has been developing technology for expectant mothers. the ultrasound scanners are being used to detect corrosion in pipes. the oil and gas technology
==========
the CSCL Globe docked in Felixstowe in January. it is 396m (1,300ft) long and has a capacity of
==========
the ANC has been in power since the end of apartheid in 1994. many accuse ANC officials of corruption.
==========
movie about a princess's mythical journey in ancient Polynesia took $81.1m (£65.3m) it is the second-highest Thanksgiving debut
==========
198 passengers and crew on board the Voyager aircraft plummeted 4,400ft (1,341m) over the black sea. pilot's
==========
opium is the main ingredient in heroin, which is used to make medicinal painkillers. growing opium is a crime in the country, but it
==========
he said it would be "completely wrong" to remain in the single market. but his predecessor, Stephen Crabb, claimed the election changed terms of the debate
==========
legal highs have been linked to a number of deaths. ministers say young people who took them were taking "exceptional risks with their health" the government says
==========
Wasps player-manager named league one manager of the month for february. midfielder says he wasn't giving 100% to either role.

In [22]:
for i in range(10):
    print("="*10)
    print(df_['Generated summary'][i])
#     print(df__['Generated summary'][i])

==========
plastic bags have been handed out at Nelson Packaging's factory in Lancashire after a 5p bag charge was introduced.
==========
a new oil and gas technology centre is to build on the existing work being carried out by Aberdeen University.
==========
MSC Oscar has been sailed from Wilhelmshaven to Felixstowe on Tuesday.
==========
ANC leader Jacob Zuma has been sacked as the new president of the African National Congress.
==========
Paramount's Bad Santa 2, starring Billy Bob Thornton, did better on its debut.
==========
pilot of a Voyager Voyager aircraft has been found not guilty of perjury and making false records.
==========
the crop used to grow poppies in Afghanistan has increased by 10%, according to a report.
==========
Jeremy Crabb has called for cross-party consensus over Brexit negotiations between the Labour Party and Labour party leaders.
==========
government proposals to ban new psychoactive substances have been published by the Home Office.
==========
Alloa manager David Goodwin says he feels it was better for him to take myself out of the league side's playing position.

In [14]:
df_['Generated summary'][1]

'oil supply company Mistras has been developing technology to enable expectant mothers to see their babies. the technology centre will invest in small firms with solid ideas and help pair'

In [ ]:
df_['Generated summary'][1]

In [32]:
import os

os.environ['http_proxy'] = 'http://192.41.170.23:3128'
os.environ['https_proxy'] = 'http://192.41.170.23:3128'
from transformers import T5Tokenizer, T5ForConditionalGeneration

tokenizer = T5Tokenizer.from_pretrained("t5-small")
source_ids_short = tokenizer.decode(1)

In [33]:
source_ids_short

'</s>'

In [44]:
quantities = [25,35,45]
a = 25
assert a in quantities

In [79]:
assert "head+tail_ratio0.2" in ["full-text", "head-only", "tail-only",]+["head+tail_ratio{:.1f}".format(i) for i in np.arange(0.0, 1.0, 0.1)]

In [53]:
"My name is {}, I'm {}".format("John",36)

"My name is John, I'm 36"

In [62]:
"head+tail_ratio{}".format(np.arange(0.0, 1.0, 0.1))

'head+tail_ratio[0.  0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9]'

In [60]:
import numpy as np
np.arange(0.0, 1.0, 0.1)

array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9])

In [77]:
a = ["full-text", "head-only", "tail-only",]+["head+tail_ratio{:.1f}".format(i) for i in np.arange(0.0, 1.0, 0.1)]

In [78]:
a

['full-text',
 'head-only',
 'tail-only',
 'head+tail_ratio0.0',
 'head+tail_ratio0.1',
 'head+tail_ratio0.2',
 'head+tail_ratio0.3',
 'head+tail_ratio0.4',
 'head+tail_ratio0.5',
 'head+tail_ratio0.6',
 'head+tail_ratio0.7',
 'head+tail_ratio0.8',
 'head+tail_ratio0.9']