In [1]:
import pandas as pd
import torch
import numpy as np

In [2]:
df = pd.read_csv("datalength/train_data_length_info.csv")

In [3]:
df.head()

   Unnamed: 0       ids  index  length
0           0  35232142      0     541
1           1  40143035      1     194
2           2  35951548      2    1214
3           3  36266422      3     369
4           4  38826984      4     242

In [5]:
min(df.length)

3

In [7]:
max(df.length)

39490

In [16]:
import numpy as np
a = torch.tensor(np.array([5,6]))

In [17]:
print(a)

tensor([5, 6])

In [19]:
a.tolist()

[5, 6]

In [23]:
df = pd.read_csv("datalength/train_info.csv")

In [24]:
df.head()

,Unnamed: 0,index,ids,doc text,target text,doc len,sum len
0,0,0,35232142,summarize: The full cost of damage in Newton S...,Clean-up operations are continuing across the ...,541,28
1,1,1,40143035,summarize: A fire alarm went off at the Holida...,Two tourist buses have been destroyed by fire ...,194,21
2,2,2,35951548,summarize: Ferrari appeared in a position to c...,Lewis Hamilton stormed to pole position at the...,1214,24
3,3,3,36266422,"summarize: John Edward Bates, formerly of Spal...",A former Lincolnshire Police officer carried o...,369,30
4,4,4,38826984,summarize: Patients and staff were evacuated f...,An armed man who locked himself into a room at...,242,35

In [6]:
a = np.array([1,4,2,3,6,7])
a

array([1, 4, 2, 3, 6, 7])

In [14]:
np.concatenate((a[1:3], a[4:6]))

array([4, 2, 6, 7])

SyntaxError: invalid syntax (2058765231.py, line 1)