In [1]:
import pandas as pd
import numpy as np

In [2]:
gps_data = pd.read_csv(r'/root/thesis_update/thesis_update_final/topic_selection/gps_topic_selection.csv')

In [5]:
gps_data.head()

,Unnamed: 0,Date,text_headlines
0,0,2022-02-14 05:12:00,appaloosa lp reports new stakes in gap dick's ...
1,1,2022-02-14 04:56:00,gap inc stock falls monday underperforms market
2,2,2022-02-11 04:56:00,gap inc stock falls friday underperforms market
3,3,2022-02-10 04:57:00,gap inc stock underperforms thursday when comp...
4,4,2022-02-09 04:56:00,gap inc stock falls wednesday underperforms ma...

In [20]:

gps_stockprice_topic = gps_data[gps_data["text_headlines"].str.contains("underperforms|outperforms|stock market|trading|rises|dow jones")]

In [21]:
len(gps_stockprice_topic)

507

In [22]:

gps_sales_topic = gps_data[gps_data["text_headlines"].str.contains("sales|sector|store|retail|retailers|competitors")]

In [25]:
len(gps_sales_topic)

1153

In [26]:
gps_performance_topic = gps_data[gps_data["text_headlines"].str.contains("eps|earning per share|q1|q2|q3|q4|profit|income")]

In [27]:
gps_performance_topic.head()

,Unnamed: 0,Date,text_headlines
76,76,2021-11-24 06:41:00,gap stock plunges 209percent premarket toward ...
236,236,2021-05-28 09:56:00,old navy athleta lead gap to surprise profit
237,237,2021-05-28 07:44:00,gap surprises wall street with quarterly profi...
508,508,2020-11-15 10:31:00,jerome dodson titan of sustainable investing s...
517,517,2020-10-06 00:38:00,charting a bullish q4 start s&p 500 extends r...

In [28]:
len(gps_performance_topic)

262

In [31]:
gps_management_topic = gps_data[gps_data["text_headlines"].str.contains("ceo|updates|suprise|advisories|sears")]

In [32]:
gps_management_topic

,Unnamed: 0,Date,text_headlines
202,202,2021-07-08 03:05:00,how to get people to use store credit cards mo...
362,362,2021-02-09 06:27:00,biden and yellen discuss $19 trillion covid re...
625,625,2020-03-05 04:30:00,gap chooses old navy leader as new ceo
659,659,2019-11-09 10:26:00,old navy spinoff thrown into question by the d...
662,662,2019-11-08 07:45:00,gap ceo departure the latest spot of bad news ...
...,...,...,...
2880,2880,2007-01-23 11:14:00,ceo pressler's out at gap inc
2883,2883,2007-01-22 07:31:00,ti shares rise after results; gap ceo resigns
2885,2885,2007-01-22 05:28:00,ceo pressler is out at gap inc
2897,2897,2007-01-04 06:01:00,updates advisories and surprises
2914,2914,2006-12-06 10:38:00,worst ceo of 2006 goes to ilia lekach of parlux

In [33]:
len(gps_management_topic)

120

In [34]:
gps_management_topic.to_csv('management_gps.csv', index=False)
gps_stockprice_topic.to_csv('stock_gps.csv', index=False)
gps_performance_topic.to_csv('performance_gps.csv', index=False)
gps_sales_topic.to_csv('sales_gps.csv', index=False)